@font-face {
  font-family: "Red Hat Display";
  src: url("./../assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, p {
  margin-block-end: 0;
  margin-block-start: 0;
}

h1, h2 {
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  background-image: url(./../images/pattern-background-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 0.5rem;
  margin: 0;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
  font-family: "Red Hat Display", "sans-serif";
}

.card {
  width: 85vw;
  max-width: 28rem;
  border-radius: 20px;
  letter-spacing: 0.03em;
  background-color: hsl(225, 100%, 98%);
  box-shadow: 0 25px 50px hsla(224, 23%, 55%, 0.25);
}
.card__header {
  background-image: url(./../images/illustration-hero.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30%;
  aspect-ratio: 16/9;
  border-radius: 20px 20px 0 0;
}
.card__content {
  display: grid;
  place-items: center;
  gap: 0.7em;
  padding: clamp(2.2rem, 1.971rem + 1.143vw, 3rem) clamp(1.4rem, 0.914rem + 2.429vw, 3.1rem) clamp(1.3rem, 1.1rem + 1vw, 2rem);
}
.card__title {
  font-size: clamp(1.2rem, 1.057rem + 0.714vw, 1.7rem);
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
.card__description {
  line-height: 1.5;
  text-align: center;
  padding: 0.6em clamp(0rem, -1.709rem + 8.544vw, 1.1rem) 0;
  margin-bottom: -0.5em;
  font-size: clamp(0.85rem, 0.617rem + 1.165vw, 1rem);
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}
.card__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
  width: 100%;
  padding: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
  border-radius: 15px;
  background-color: hsla(225, 100%, 94%, 0.5);
}
.card__plan-details {
  display: flex;
  gap: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
}
.card__plan-icon {
  background-image: url(./../images/icon-music.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 3em;
  height: 3em;
  filter: brightness(0.93);
}
.card__plan-fee {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2em;
}
.card__plan-title {
  font-size: clamp(0.85rem, 0.462rem + 1.942vw, 1.1rem);
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
.card__plan-price {
  font-size: clamp(0.75rem, -0.05rem + 4vw, 0.95rem);
  font-weight: 600;
  color: hsl(224, 23%, 55%);
}
.card__plan-change {
  font-size: clamp(0.7rem, -0.1rem + 4vw, 0.9rem);
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}
.card__plan-change:hover {
  text-decoration: none;
  opacity: 0.8;
}
.card__button {
  width: 100%;
  padding: 1.2em;
  border: none;
  border-radius: 12px;
  font-size: clamp(0.85rem, 0.807rem + 0.214vw, 1rem);
  font-weight: 700;
  color: hsl(225, 100%, 98%);
}
.card__button--primary {
  z-index: 1;
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0 6px 20px hsla(245, 75%, 52%, 0.35);
  transition: 0.3s ease-in-out;
}
.card__button--primary:hover {
  opacity: 0.8;
  cursor: pointer;
}
.card__button--secondary {
  background-color: hsl(225, 100%, 98%);
  color: hsl(224, 23%, 55%);
  transition: 0.3s ease-in-out;
}
.card__button--secondary:hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
}

footer {
  font-size: 0.7rem;
  color: hsl(223, 47%, 23%) a;
  color-text-align: center;
  color-color: hsl(245, 75%, 52%);
}

@media (min-width: 768px) {
  body {
    background-image: url("./../images/pattern-background-desktop.svg");
  }
}

/*# sourceMappingURL=index.css.map */
